<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Welcome to <%= results.name %>'s Training Site!
    <a href="/trainerlogin">Trainer Login</a>

    <a href="/register">Book An Appointment</a>
  </body>
</html>
