<!DOCTYPE html>
<html lang="en" dir="ltr">
<<<<<<< HEAD
=======

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <a href="/"><button>Back</button></a>
  <h1>Register Now!</h1>
  <form action="/register" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="number" name="age" placeholder="Age" />
    <select name="level">
  <option value="beginner">Beginner</option>
  <option value="intermediate">Intermediate</option>
  <option value="advanced">Advanced</option>
</select>
>>>>>>> 7bb96162dd1af9cd75ee03bbe865381d7d2dccb6

   <head>
      <meta charset="utf-8">
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/signup.css">
   </head>

   <body>
      <a href="/"><button>Back</button></a>
      <h1>Register Now!</h1>
      <form action="/register" method="post">
         <input type="text" name="name" placeholder="Name" />
         <input type="number" name="age" placeholder="Age" />
         <select name="level">
                        <option value="beginner">Beginner</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="advanced">Advanced</option>
                      </select>

<<<<<<< HEAD
         <input type="text" name="email" placeholder="Email" />
         <input type="text" name="password" placeholder="New Password" />

         <br />

         <input type="number" name="creditcard" placeholder="Credit Card Number" />
         <input type="number" name="cvv" placeholder="CVV" />
         <input type="text" name="expiration" placeholder="Expiration Date" />
         <input type="submit" />
      </form>
   </body>

   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</html>
=======
    <input type="number" name="creditcard" placeholder="Credit Card Number" />
    <input type="number" name="cvv" placeholder="CVV" />
    <input type="text" name="expiration" placeholder="Expiration Date" />
    <input type="submit" />
  </form>
</body>

</html>
>>>>>>> 7bb96162dd1af9cd75ee03bbe865381d7d2dccb6
