<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    register page

    <form action="/register" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="number" name="age" placeholder="Age"/>
    <select name="level">
  <option value="beginner">Beginner</option>
  <option value="intermediate">Intermediate</option>
  <option value="advanced">Advanced</option>
  <option value="athlete">Athlete</option>
</select>

    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="password" placeholder="New Password" />
    <input type="submit" />
  </form>
  </body>
</html>
