<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>Register Now!</h1>
    <form action="/register" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="number" name="age" placeholder="Age"/>
    <select name="level">
  <option value="beginner">Beginner</option>
  <option value="intermediate">Intermediate</option>
  <option value="advanced">Advanced</option>
</select>

    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="password" placeholder="New Password" />

    <br />

    <input type="number" name="creditcard" placeholder="Credit Card Number" />
    <input type="number" name="cvv" placeholder="CVV" />
    <input type="text" name="expiration" placeholder="Expiration Date" />
    <input type="submit" />
  </form>
  </body>
</html>
