<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Trainer Login</h3>
    <form action="/trainerlogin" method="post">
    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="password" placeholder="New Password" />
    <input type="submit" value="Login"/>
    </form>
<a href="/trainerschedule">Trainer schedule</a>
  </body>
</html>
