#formLogin {
  padding: 15px;
  min-width: 300px;
}

.container {
  padding-top: 60px;
  margin-bottom: 150px;
  text-decoration-color: white;
}

/* carousel font heading */

h5 {
  font-size: 150px;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 100;
}

/* carousel p-tag font  */

p4 {
  font-size: 35px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: black;
  opacity: 1;
  filter: alpha(opacity=50);
  background-size: cover;
}

/* dam dolls circle */

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.col-lg-4 {
  padding-left: 30px;
  color: white;
  border: 2px solid red;
}

h2 {
  text-align: center;
  color: white;
}

hr {
  margin-left: 150px;
  margin-right: 150px;
}

/* .rowfeaturette {
  margin-left: -15px;
  margin-right: -15px;
} */

.col-md-7 {
  margin-top: 350px;
}

p {
  margin-top: 0px;
  margin-bottom: 1rem;
  position: center;
  color: white;
}

.col-md-5 {
  width: 700px;
  height: 700px;
  margin-top: 150px;
}

.float-right {
  float: right;
}

.carousel-indicators {
  z-index: -1;
}

///////////////////////////////////////////////////////
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
/* Fixed navbar */

/* General sizing */

ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */

@media (max-width: 500px) {
  .dropdown-lr h3 {
    color: #eee;
  }
  .dropdown-lr label {
    color: #eee;
  }
}

/* featurette-image {
  width: 500px;
  height: 500px;
  margin-top: 150px;
} */

/* https://www.nature.org/cs/groups/webcontent/@web/@newhampshire/documents/media/kimballhillvista-1600x655-jkle.jpg */

/* https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEzWq7huQdqjqdQjUsQrxQEMJ1Lzk5RBglxwvq4RP51wWEhD2J */
